<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.mapper.ClassMapper" >
  <resultMap id="BaseResultMap" type="com.zm.entity.Class" >
    <id column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="class_size" property="classSize" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="op_user_id" property="opUserId" jdbcType="INTEGER" />
    <result column="op_user_name" property="opUserName" jdbcType="VARCHAR" />
    <result column="op_role_name" property="opRoleName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ClassRspMap" type="com.zm.dto.ClassRspDto" extends="BaseResultMap">
    <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zm_class.class_id, zm_class.name, zm_class.class_size, zm_class.is_delete, zm_class.create_time,
    zm_class.update_time, zm_class.op_user_id, zm_class.op_user_name,
    zm_class.op_role_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="ClassRspMap" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List"/>,teacher.teacher_id,teacher.name as teacher_name
    from zm_class  left join zm_class_relation_teacher rela on zm_class.class_id = rela.class_id
    left  join zm_teacher teacher on teacher.teacher_id = rela.teacher_id
    where zm_class.class_id = #{classId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update  zm_class set is_delete = 1
    where class_id = #{classId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zm.entity.Class" useGeneratedKeys="true" keyProperty="classId"
          keyColumn="class_id">
    insert into zm_class (class_id, name, class_size,
      is_delete, create_time, update_time, 
      op_user_id, op_user_name, op_role_name
      )
    values (#{classId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{classSize,jdbcType=BIGINT},
      #{isDelete,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{opUserId,jdbcType=INTEGER}, #{opUserName,jdbcType=VARCHAR}, #{opRoleName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zm.entity.Class"
          useGeneratedKeys="true" keyProperty="classId"
          keyColumn="class_id">
    insert into zm_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classId != null" >
        class_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="classSize != null" >
        class_size,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="opUserId != null" >
        op_user_id,
      </if>
      <if test="opUserName != null" >
        op_user_name,
      </if>
      <if test="opRoleName != null" >
        op_role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="classSize != null" >
        #{classSize,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="opUserId != null" >
        #{opUserId,jdbcType=INTEGER},
      </if>
      <if test="opUserName != null" >
        #{opUserName,jdbcType=VARCHAR},
      </if>
      <if test="opRoleName != null" >
        #{opRoleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zm.entity.Class" >
    update zm_class
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="classSize != null" >
        class_size = #{classSize,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="opUserId != null" >
        op_user_id = #{opUserId,jdbcType=INTEGER},
      </if>
      <if test="opUserName != null" >
        op_user_name = #{opUserName,jdbcType=VARCHAR},
      </if>
      <if test="opRoleName != null" >
        op_role_name = #{opRoleName,jdbcType=VARCHAR},
      </if>
    </set>
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zm.entity.Class" >
    update zm_class
    set name = #{name,jdbcType=VARCHAR},
      class_size = #{classSize,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      op_user_id = #{opUserId,jdbcType=INTEGER},
      op_user_name = #{opUserName,jdbcType=VARCHAR},
      op_role_name = #{opRoleName,jdbcType=VARCHAR}
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
  <select id="getAllPage"  resultMap="ClassRspMap">
    select
    <include refid="Base_Column_List" />,teacher.teacher_id,teacher.name as teacher_name
    from zm_class left join zm_class_relation_teacher rela on zm_class.class_id = rela.class_id
    left  join zm_teacher teacher on teacher.teacher_id = rela.teacher_id
    <where>
      and zm_class.is_delete = 0
      <if test="name!=null and name !=''">
        and zm_class.name like CONCAT('%',#{name},'%')
      </if>
      <if test="opUserName!=null and opUserName !=''">
        and zm_class.op_user_name like CONCAT('%',#{opUserName},'%')
      </if>
    </where>
    order by update_time desc
  </select>
  <select id="getAllOption"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zm_class
    where
     is_delete = 0
  </select>
</mapper>
