<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.zm.entity.Student" >
    <id column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="stu_no" property="stuNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="admission_date" property="admissionDate" jdbcType="DATE" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="op_user_id" property="opUserId" jdbcType="INTEGER" />
    <result column="op_user_name" property="opUserName" jdbcType="VARCHAR" />
    <result column="op_role_name" property="opRoleName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="StudentRspMap" type="com.zm.dto.StudentRspDto" extends="BaseResultMap">
    <result column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    zm_student.student_id, zm_student.stu_no, zm_student.name, zm_student.gender, zm_student.age, zm_student.birthday,
     zm_student.phone, zm_student.address, zm_student.admission_date, zm_student.state, zm_student.is_delete,
    zm_student.create_time, zm_student.update_time, zm_student.op_user_id, zm_student.op_user_name, zm_student.op_role_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="StudentRspMap" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List"/>,
     cla.class_id,cla.name as class_name
    from zm_student  left join zm_class_relation_student stuRela on zm_student.student_id = stuRela.student_id
    left join zm_class cla on cla.class_id = stuRela.class_id
    where zm_student.student_id = #{studentId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update   zm_student set is_delete = 1
    where student_id = #{studentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zm.entity.Student" useGeneratedKeys="true" keyColumn="student_id"
          keyProperty="studentId">
    insert into zm_student (student_id, stu_no, name,
      gender, age, birthday, 
      phone, address, admission_date, 
      state, is_delete, create_time, 
      update_time, op_user_id, op_user_name, 
      op_role_name)
    values (#{studentId,jdbcType=INTEGER}, #{stuNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{gender,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{admissionDate,jdbcType=DATE}, 
      #{state,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{opUserId,jdbcType=INTEGER}, #{opUserName,jdbcType=VARCHAR}, 
      #{opRoleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zm.entity.Student" useGeneratedKeys="true" keyColumn="student_id"
          keyProperty="studentId">
    insert into zm_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="stuNo != null" >
        stu_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="admissionDate != null" >
        admission_date,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="opUserId != null" >
        op_user_id,
      </if>
      <if test="opUserName != null" >
        op_user_name,
      </if>
      <if test="opRoleName != null" >
        op_role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="stuNo != null" >
        #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="admissionDate != null" >
        #{admissionDate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="opUserId != null" >
        #{opUserId,jdbcType=INTEGER},
      </if>
      <if test="opUserName != null" >
        #{opUserName,jdbcType=VARCHAR},
      </if>
      <if test="opRoleName != null" >
        #{opRoleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zm.entity.Student" >
    update zm_student
    <set >
      <if test="stuNo != null" >
        stu_no = #{stuNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="admissionDate != null" >
        admission_date = #{admissionDate,jdbcType=DATE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="opUserId != null" >
        op_user_id = #{opUserId,jdbcType=INTEGER},
      </if>
      <if test="opUserName != null" >
        op_user_name = #{opUserName,jdbcType=VARCHAR},
      </if>
      <if test="opRoleName != null" >
        op_role_name = #{opRoleName,jdbcType=VARCHAR},
      </if>
    </set>
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zm.entity.Student" >
    update zm_student
    set stu_no = #{stuNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      admission_date = #{admissionDate,jdbcType=DATE},
      state = #{state,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      op_user_id = #{opUserId,jdbcType=INTEGER},
      op_user_name = #{opUserName,jdbcType=VARCHAR},
      op_role_name = #{opRoleName,jdbcType=VARCHAR}
    where student_id = #{studentId,jdbcType=INTEGER}
  </update>
  <select id="getAllPage" resultMap="StudentRspMap" parameterType="com.zm.dto.StudentReqDto">
    select
    <include refid="Base_Column_List" />,cla.class_id,cla.name as class_name
    from zm_student left join zm_class_relation_student stuRela on zm_student.student_id = stuRela.student_id
    left join zm_class cla on cla.class_id = stuRela.class_id
    <where>
      and zm_student.is_delete = 0
      <if test="stuNo!=null and stuNo !=''">
        and zm_student.stu_no like CONCAT('%',#{stuNo},'%')
      </if>
      <if test="name!=null and name !=''">
        and zm_student.name like CONCAT('%',#{name},'%')
      </if>
      <if test="gender!=null and gender !=''">
        and gender = #{gender}
      </if>
      <if test="phone!=null and phone !=''">
        and phone like CONCAT('%',#{phone},'%')
      </if>
      <if test="state!=null and state !=''">
        and state = #{state}
      </if>
      <if test="className!=null and className !=''">
        and class_name like CONCAT('%',#{className},'%')
      </if>
    </where>
    order by update_time desc
  </select>
  <select id="getAllOption"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zm_student
    where
     is_delete = 0
     and state = 0
  </select>
  <select id="selectByStudent"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zm_student
    where
    is_delete = 0
    and state = 0
    and stu_no =#{stuNo}
    and phone =#{phone}
  </select>
</mapper>
