<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.zm.entity.SysUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="is_enable" property="isEnable" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="userResultMap"  extends="BaseResultMap"  type="com.zm.dto.UserSeachRspDto" >
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="access" property="access" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    u.id, u.account, u.user_name,password, u.is_enable, u.create_time, u.update_time,is_delete
  </sql>
  <select id="selectByUser" resultMap="BaseResultMap" parameterType="com.zm.entity.SysUser" >
    select
    <include refid="Base_Column_List" />,,r.role_name,r.access
    from zm_sys_user u
    LEFT JOIN zm_sys_user_role AS ur ON ur.user_id = u.id
    LEFT JOIN zm_sys_role AS r ON r.id = ur.role_id
    where u.user_name = #{userName,jdbcType=VARCHAR}
    and u.password = #{password,jdbcType=VARCHAR}
    and u.is_delete = 0
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zm_sys_user
    where id = #{id,jdbcType=INTEGER}
    and is_delete = 0
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update  zm_sys_user set is_delete = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.zm.entity.SysUser" >
    insert into zm_sys_user (id, account, password, 
      user_name, is_enable, create_time, 
      update_time,is_delete)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{isEnable,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT},#{isDelete,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zm.entity.SysUser" >
    insert into zm_sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zm.entity.SysUser" >
    update zm_sys_user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zm.entity.SysUser" >
    update zm_sys_user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getUserAllPage" resultMap="userResultMap">
      select
      <include refid="Base_Column_List" />,r.role_name roleName,r.access access
      from zm_sys_user u
      LEFT JOIN zm_sys_user_role AS ur ON ur.user_id = u.id
      LEFT JOIN zm_sys_role AS r ON r.id = ur.role_id
      <where>
        <if test="userName!=null and userName!=''">
          u.user_name  LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="account!=null and account!=''">
          u.account  LIKE CONCAT('%',#{account},'%')
        </if>
        <if test="roleName!=null and roleName!=''">
          r.role_name LIKE CONCAT('%',#{roleName},'%')
        </if>
        <if test="isEnable!=null and isEnable!=''">
          u.is_enable = #{isEnable}
        </if>
        and u.is_delete = 0
        and r.is_delete = 0
      </where>
    </select>
</mapper>
